@font-face {
  font-family: comicsans;
  src: url('../assets/fonts/cs.TTF') format('woff2');
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: comicsans;
  src: url('../assets/fonts/csI.ttf') format('woff2');
  font-weight: 300 800;
  font-style: italic;
}

body {
  font-family: comicsans, sans-serif;
}
