.upgrade-button {
  background-color: #FCF8F7; /* Green background color */
  border: none; /* No borders */
  color: #DDF9F8; /* White text color */
  padding: 15px 32px; /* Padding for better clickable area */
  text-align: center; /* Centered text */
  text-decoration: none; /* No text decoration */
  display: inline-block; /* Inline-block display for better alignment */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margins for better spacing */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Animation for background color on hover */
}

.upgrade-button:hover {
  background-color: #E7E6E5; /* Darker green background color on hover */
}

#clickableImage {
  width: 200px;
  cursor: pointer;
}

#upgradeButton {
  margin-top: 10px;
}

#upgrades {
  margin-top: 20px;
}

button {
  margin-top: 5px;
}

body {
  background: radial-gradient(circle at 30% 30%, #fdf497, #fdf497 25%, #fd5949 25%, #fd5949 50%, #c026d3 50%, #c026d3 75%, #4e54c8 75%);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: comicsans;
  src: url('../assets/fonts/cs.ttf') format('woff2');
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: comicsans;
  src: url('../assets/fonts/csI.ttf') format('woff2');
  font-weight: 300 800;
  font-style: italic;
}

body {
  font-family: comicsans, sans-serif;
}
